In [5]:
%matplotlib inline
import json
import time

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import pandas_profiling
import requests
plt.style.use('fivethirtyeight')
DATASET_DIR = '../../datasets/'

d:\programdata\miniconda3\lib\site-packages\pandas_profiling\plot.py:15: UserWarning:
This call to matplotlib.use() has no effect because the backend has already
been chosen; matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

The backend was *originally* set to 'module://ipykernel.pylab.backend_inline' by the following code:
  File "d:\programdata\miniconda3\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "d:\programdata\miniconda3\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "d:\programdata\miniconda3\lib\site-packages\ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "d:\programdata\miniconda3\lib\site-packages\traitlets\config\application.py", line 658, in launch_instance
    app.start()
  File "d:\programdata\miniconda3\lib\site-packages\ipykernel\kernelapp.py", line 486, in start
    self.io_loop.start()
  File "d:\programdata\miniconda3\lib\site-packages\tornado\platform\asyncio.py", line 127, in start
    self.asyncio_loop.run_forever()
  File "d:\programdata\miniconda3\lib\asyncio\base_events.py", line 422, in run_forever
    self._run_once()
  File "d:\programdata\miniconda3\lib\asyncio\base_events.py", line 1432, in _run_once
    handle._run()
  File "d:\programdata\miniconda3\lib\asyncio\events.py", line 145, in _run
    self._callback(*self._args)
  File "d:\programdata\miniconda3\lib\site-packages\tornado\platform\asyncio.py", line 117, in _handle_events
    handler_func(fileobj, events)
  File "d:\programdata\miniconda3\lib\site-packages\tornado\stack_context.py", line 276, in null_wrapper
    return fn(*args, **kwargs)
  File "d:\programdata\miniconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 450, in _handle_events
    self._handle_recv()
  File "d:\programdata\miniconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 480, in _handle_recv
    self._run_callback(callback, msg)
  File "d:\programdata\miniconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 432, in _run_callback
    callback(*args, **kwargs)
  File "d:\programdata\miniconda3\lib\site-packages\tornado\stack_context.py", line 276, in null_wrapper
    return fn(*args, **kwargs)
  File "d:\programdata\miniconda3\lib\site-packages\ipykernel\kernelbase.py", line 283, in dispatcher
    return self.dispatch_shell(stream, msg)
  File "d:\programdata\miniconda3\lib\site-packages\ipykernel\kernelbase.py", line 233, in dispatch_shell
    handler(stream, idents, msg)
  File "d:\programdata\miniconda3\lib\site-packages\ipykernel\kernelbase.py", line 399, in execute_request
    user_expressions, allow_stdin)
  File "d:\programdata\miniconda3\lib\site-packages\ipykernel\ipkernel.py", line 208, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "d:\programdata\miniconda3\lib\site-packages\ipykernel\zmqshell.py", line 537, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "d:\programdata\miniconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2662, in run_cell
    raw_cell, store_history, silent, shell_futures)
  File "d:\programdata\miniconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2785, in _run_cell
    interactivity=interactivity, compiler=compiler, result=result)
  File "d:\programdata\miniconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2903, in run_ast_nodes
    if self.run_code(code, result):
  File "d:\programdata\miniconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2963, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-5-6717f8b57219>", line 1, in <module>
    get_ipython().run_line_magic('matplotlib', 'inline')
  File "d:\programdata\miniconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2131, in run_line_magic
    result = fn(*args,**kwargs)
  File "<decorator-gen-108>", line 2, in matplotlib
  File "d:\programdata\miniconda3\lib\site-packages\IPython\core\magic.py", line 187, in <lambda>
    call = lambda f, *a, **k: f(*a, **k)
  File "d:\programdata\miniconda3\lib\site-packages\IPython\core\magics\pylab.py", line 99, in matplotlib
    gui, backend = self.shell.enable_matplotlib(args.gui)
  File "d:\programdata\miniconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3051, in enable_matplotlib
    pt.activate_matplotlib(backend)
  File "d:\programdata\miniconda3\lib\site-packages\IPython\core\pylabtools.py", line 311, in activate_matplotlib
    matplotlib.pyplot.switch_backend(backend)
  File "d:\programdata\miniconda3\lib\site-packages\matplotlib\pyplot.py", line 231, in switch_backend
    matplotlib.use(newbackend, warn=False, force=True)
  File "d:\programdata\miniconda3\lib\site-packages\matplotlib\__init__.py", line 1422, in use
    reload(sys.modules['matplotlib.backends'])
  File "d:\programdata\miniconda3\lib\importlib\__init__.py", line 166, in reload
    _bootstrap._exec(spec, module)
  File "d:\programdata\miniconda3\lib\site-packages\matplotlib\backends\__init__.py", line 16, in <module>
    line for line in traceback.format_stack()


  matplotlib.use(BACKEND)

In [18]:
df = pd.read_csv(
    DATASET_DIR + 'eleicao_rj/votacao_secao_2018_RJ.csv',
    sep=';',
    encoding='Latin1')
df.head()

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,CD_TIPO_ELEICAO,NM_TIPO_ELEICAO,NR_TURNO,CD_ELEICAO,DS_ELEICAO,DT_ELEICAO,TP_ABRANGENCIA,...,NM_UE,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,NR_SECAO,CD_CARGO,DS_CARGO,NR_VOTAVEL,NM_VOTAVEL,QT_VOTOS
0,15/10/2018,18:30:07,2018,2,ELEIÇÃO ORDINÁRIA,1,297,ELEIÇÕES GERAIS ESTADUAIS 2018,07/10/2018,E,...,RIO DE JANEIRO,60011,RIO DE JANEIRO,7,402,7,DEPUTADO ESTADUAL,20911,ELITUSALEM GOMES DE FREITAS,1
1,15/10/2018,18:30:07,2018,2,ELEIÇÃO ORDINÁRIA,1,297,ELEIÇÕES GERAIS ESTADUAIS 2018,07/10/2018,E,...,RIO DE JANEIRO,60011,RIO DE JANEIRO,25,968,7,DEPUTADO ESTADUAL,12612,SERGIO BERNARDINO DUARTE,1
2,15/10/2018,18:30:07,2018,2,ELEIÇÃO ORDINÁRIA,1,297,ELEIÇÕES GERAIS ESTADUAIS 2018,07/10/2018,E,...,RIO DE JANEIRO,58467,MESQUITA,150,46,6,DEPUTADO FEDERAL,1000,MARCELO HODGE CRIVELLA,1
3,15/10/2018,18:30:07,2018,2,ELEIÇÃO ORDINÁRIA,1,297,ELEIÇÕES GERAIS ESTADUAIS 2018,07/10/2018,E,...,RIO DE JANEIRO,58637,NILÓPOLIS,221,117,6,DEPUTADO FEDERAL,1000,MARCELO HODGE CRIVELLA,2
4,15/10/2018,18:30:07,2018,2,ELEIÇÃO ORDINÁRIA,1,297,ELEIÇÕES GERAIS ESTADUAIS 2018,07/10/2018,E,...,RIO DE JANEIRO,58432,ITAPERUNA,107,119,6,DEPUTADO FEDERAL,1701,FRANKLIN JORGE SANTOS,1

In [27]:
rj = df.query('DS_CARGO == "GOVERNADOR" and NM_UE == "RIO DE JANEIRO"')
del df
rj2 = rj.drop([
    'DT_GERACAO', 'HH_GERACAO', 'ANO_ELEICAO', 'CD_TIPO_ELEICAO',
    'NM_TIPO_ELEICAO', 'NR_TURNO', 'CD_ELEICAO', 'DS_ELEICAO',
    'DT_ELEICAO', 'TP_ABRANGENCIA', 'CD_MUNICIPIO', 'SG_UF', 'SG_UE',
    'NM_UE', 'CD_CARGO', 'DS_CARGO', 'NM_MUNICIPIO', 'NR_VOTAVEL'],
    axis=1)
rj2.columns = ['zona', 'secao','candidato', 'votos'
]
rj2.to_csv(DATASET_DIR + 'eleicao_rj/limpo.csv')
del rj
rj2.loc[:, 'turno'] = 1
rj2.head(5)

     zona  secao                     candidato  votos  turno
81    170    423  ANTONIO PEDRO INDIO DA COSTA      8      1
149   153    151    TARCISIO MOTTA DE CARVALHO      8      1
156   238     24                     VOTO NULO     54      1
164    38    130                     VOTO NULO     33      1
178   254    147    TARCISIO MOTTA DE CARVALHO     10      1

In [11]:
rj = pd.read_csv(
    DATASET_DIR + 'eleicao_rj/resultado_eleicao.csv',
    encoding='Latin1',
    sep=';')
rj.head()

,UF,Zona,Cargo,Número do candidato,Nome do candidato,Nome do candidato (urna),Partido,Coligação,Turno,Situação de totalização,Votos nominais do candidato,Votos válidos por abrangência,% votos válidos,Data última totalização
0,RJ,10,Governador,25,EDUARDO DA COSTA PAES,EDUARDO PAES,DEM,DEM / PP / MDB / PTB / SOLIDARIEDADE / PSDB / ...,2,Não eleito,29584,56420,"52,44",28/10/2018 20:16:57
1,RJ,10,Governador,20,WILSON JOSÉ WITZEL,WILSON WITZEL,PSC,PSC / PROS,2,Eleito,26836,56420,"47,56",28/10/2018 20:16:57
2,RJ,101,Governador,20,WILSON JOSÉ WITZEL,WILSON WITZEL,PSC,PSC / PROS,2,Eleito,6800,9290,"73,2",28/10/2018 20:16:57
3,RJ,101,Governador,25,EDUARDO DA COSTA PAES,EDUARDO PAES,DEM,DEM / PP / MDB / PTB / SOLIDARIEDADE / PSDB / ...,2,Não eleito,2490,9290,"26,8",28/10/2018 20:16:57
4,RJ,102,Governador,20,WILSON JOSÉ WITZEL,WILSON WITZEL,PSC,PSC / PROS,2,Eleito,5085,8706,"58,41",28/10/2018 20:16:57

In [36]:
rj = pd.read_csv(
    DATASET_DIR + 'eleicao_rj/resultado_eleicao.csv',
    encoding='Latin1',
    sep=';')
rj = rj.loc[:, [
    'Nome do candidato', 'Zona', 'Turno', 'Votos nominais do candidato'
]]
rj.columns = ['candidato', 'zona', 'turno', 'votos']
rj.head(5)

               candidato  zona  turno  votos
0  EDUARDO DA COSTA PAES    10      2  29584
1     WILSON JOSÉ WITZEL    10      2  26836
2     WILSON JOSÉ WITZEL   101      2   6800
3  EDUARDO DA COSTA PAES   101      2   2490
4     WILSON JOSÉ WITZEL   102      2   5085

## Limpeza dos dados das zonas eleitorais

In [37]:
end_zonas = pd.read_csv(
    DATASET_DIR + 'eleicao_rj/lista_zonas_eleitorais.csv',
    encoding='Latin1',
    index_col=0)
end_zonas.head()

,sigla_uf,endereco,cep,bairro,nome_municipio,sigla_uf.1
numero_zona,,,,,,
4,19-0004,RUA JARDIM BOTÂNICO 1060,22460000,JARDIM BOTÂNICO,RIO DE JANEIRO,RJ
5,19-0005,"RUA MIGUEL LEMOS, 97",22071000,COPACABANA,RIO DE JANEIRO,RJ
7,19-0007,RUA ANTONIO BASILIO 76,20511190,TIJUCA,RIO DE JANEIRO,RJ
8,19-0008,"AVENIDA DOM HÉLDER CÂMARA, 4175",20771000,DEL CASTILHO,RIO DE JANEIRO,RJ
9,19-0009,AV AYRTON SENNA 2001 BLOCO C,22775002,BARRA DA TIJUCA,RIO DE JANEIRO,RJ

In [38]:
end_zonas = end_zonas.rename(columns={'endereco': 'rua',
                                     'nome_municipio': 'municipio'})
end_zonas = end_zonas.drop(['sigla_uf', 'cep', 'sigla_uf.1'], axis=1)
end_zonas['endereco'] = end_zonas.apply(lambda x: ', '.join(x), axis=1)
colunas = ['rua', 'bairro', 'municipio', 'endereco']
for c in colunas:
    end_zonas.loc[:, c] = end_zonas.loc[:, c].apply(lambda x: x.lower())

erros = []

dados_json = []
url = 'https://maps.googleapis.com/maps/api/geocode/json'
bounds = '-23.371469,-44.917957|-20.784440,-40.504246'
with open('gkey.txt') as f:
    g_key = f.read()
for z, v in end_zonas.iterrows():
    end = v["endereco"].replace(' ', '+')
    response = requests.get(url, {
        'bounds': bounds,
        'key': g_key,
        'address': end
    })
    try:
        coords = json.loads(
            response.text)['results'][0]['geometry']['location']
        end_zonas.loc[z, 'lat'] = coords['lat']
        end_zonas.loc[z, 'lng'] = coords['lng']
        dados_json.append(response.json())
    except:
        erros.append(z)
        print(f'Não achou zona {z}')
    time.sleep(0.05)
end_zonas.loc[60, 'lat'] = -21.954952
end_zonas.loc[60, 'lng'] = -42.136810
end_zonas.loc[196, 'lat'] = -22.151659
end_zonas.loc[196, 'lng'] = -42.926066
end_zonas.index.name = 'zona'

Não achou zona 60

In [39]:
end_zonas.head()

,rua,bairro,municipio,endereco,lat,lng
zona,,,,,,
4,rua jardim botânico 1060,jardim botânico,rio de janeiro,"rua jardim botânico 1060, jardim botânico, rio...",-22.972010,-43.224547
5,"rua miguel lemos, 97",copacabana,rio de janeiro,"rua miguel lemos, 97, copacabana, rio de janeiro",-22.977688,-43.192630
7,rua antonio basilio 76,tijuca,rio de janeiro,"rua antonio basilio 76, tijuca, rio de janeiro",-22.924920,-43.235859
8,"avenida dom hélder câmara, 4175",del castilho,rio de janeiro,"avenida dom hélder câmara, 4175, del castilho,...",-22.881511,-43.274248
9,av ayrton senna 2001 bloco c,barra da tijuca,rio de janeiro,"av ayrton senna 2001 bloco c, barra da tijuca,...",-22.992552,-43.367683

## Limpando os dados do IDH

A partir dos dados do IDH Municipal, agregaremos esses dados na nossa análise de forma para enriquecermos a nossa análise.

In [44]:
idhm = pd.read_excel(
    DATASET_DIR + 'IDHM/IDHM_Municipios_RJ.xlsx', index_col=0)
idhm.head()

         Espacialidades  IDHM 2010
Código
76               Brasil      0.727
3300100  Angra dos Reis      0.724
3300159         Aperibé      0.692
3300209        Araruama      0.718
3300225           Areal      0.684

In [45]:
idhm.index.name = 'cod'
idhm.columns = ['municipio', 'idhm']
idhm.loc[:,'municipio'] = idhm.municipio.apply(lambda x: x.lower())
idhm.head()

              municipio   idhm
cod
76               brasil  0.727
3300100  angra dos reis  0.724
3300159         aperibé  0.692
3300209        araruama  0.718
3300225           areal  0.684

## Transformação dos dados dos votos
Vamos criar dois datasets diferentes, um contendo o percentual dos votos de cada zona eleitoral foi para cada candidato e o outro contendo a representatividade de votos de cada zona eleitoral em relação ao total de cada candidato.

In [55]:
votos_zona.index.values

array([(4, 1), (4, 2), (5, 1), (5, 2), (7, 1), (7, 2), (8, 1), (8, 2),
       (9, 1), (9, 2), (10, 1), (10, 2), (14, 1), (14, 2), (16, 1),
       (16, 2), (17, 1), (17, 2), (21, 1), (21, 2), (22, 1), (22, 2),
       (23, 1), (23, 2), (24, 1), (24, 2), (25, 1), (25, 2), (26, 1),
       (26, 2), (27, 1), (27, 2), (28, 1), (28, 2), (29, 1), (29, 2),
       (30, 1), (30, 2), (31, 1), (31, 2), (32, 1), (32, 2), (34, 1),
       (34, 2), (35, 1), (35, 2), (36, 1), (36, 2), (37, 1), (37, 2),
       (38, 1), (38, 2), (40, 1), (40, 2), (41, 1), (41, 2), (42, 1),
       (42, 2), (43, 1), (43, 2), (45, 1), (45, 2), (48, 1), (48, 2),
       (49, 1), (49, 2), (50, 1), (50, 2), (51, 1), (51, 2), (52, 1),
       (52, 2), (54, 1), (54, 2), (55, 1), (55, 2), (56, 1), (56, 2),
       (57, 1), (57, 2), (59, 1), (59, 2), (60, 1), (60, 2), (61, 1),
       (61, 2), (62, 1), (62, 2), (63, 1), (63, 2), (64, 1), (64, 2),
       (65, 1), (65, 2), (68, 1), (68, 2), (69, 1), (69, 2), (70, 1),
       (70, 2), (71, 1), (71, 2), (72, 1), (72, 2), (74, 1), (74, 2),
       (75, 1), (75, 2), (76, 1), (76, 2), (78, 1), (78, 2), (79, 1),
       (79, 2), (83, 1), (83, 2), (84, 1), (84, 2), (87, 1), (87, 2),
       (88, 1), (88, 2), (89, 1), (89, 2), (90, 1), (90, 2), (91, 1),
       (91, 2), (92, 1), (92, 2), (93, 1), (93, 2), (94, 1), (94, 2),
       (95, 1), (95, 2), (96, 1), (96, 2), (97, 1), (97, 2), (98, 1),
       (98, 2), (101, 1), (101, 2), (102, 1), (102, 2), (103, 1),
       (103, 2), (104, 1), (104, 2), (105, 1), (105, 2), (106, 1),
       (106, 2), (107, 1), (107, 2), (108, 1), (108, 2), (109, 1),
       (109, 2), (110, 1), (110, 2), (111, 1), (111, 2), (112, 1),
       (112, 2), (116, 1), (116, 2), (118, 1), (118, 2), (119, 1),
       (119, 2), (120, 1), (120, 2), (122, 1), (122, 2), (123, 1),
       (123, 2), (125, 1), (125, 2), (126, 1), (126, 2), (127, 1),
       (127, 2), (128, 1), (128, 2), (129, 1), (129, 2), (130, 1),
       (130, 2), (131, 1), (131, 2), (132, 1), (132, 2), (133, 1),
       (133, 2), (135, 1), (135, 2), (138, 1), (138, 2), (139, 1),
       (139, 2), (141, 1), (141, 2), (144, 1), (144, 2), (146, 1),
       (146, 2), (147, 1), (147, 2), (148, 1), (148, 2), (149, 1),
       (149, 2), (150, 1), (150, 2), (151, 1), (151, 2), (152, 1),
       (152, 2), (153, 1), (153, 2), (154, 1), (154, 2), (155, 1),
       (155, 2), (156, 1), (156, 2), (157, 1), (157, 2), (158, 1),
       (158, 2), (159, 1), (159, 2), (161, 1), (161, 2), (162, 1),
       (162, 2), (167, 1), (167, 2), (169, 1), (169, 2), (170, 1),
       (170, 2), (172, 1), (172, 2), (174, 1), (174, 2), (176, 1),
       (176, 2), (179, 1), (179, 2), (180, 1), (180, 2), (181, 1),
       (181, 2), (182, 1), (182, 2), (183, 1), (183, 2), (184, 1),
       (184, 2), (185, 1), (185, 2), (186, 1), (186, 2), (187, 1),
       (187, 2), (188, 1), (188, 2), (191, 1), (191, 2), (192, 1),
       (192, 2), (195, 1), (195, 2), (196, 1), (196, 2), (198, 1),
       (198, 2), (199, 1), (199, 2), (200, 1), (200, 2), (201, 1),
       (201, 2), (204, 1), (204, 2), (211, 1), (211, 2), (214, 1),
       (214, 2), (216, 1), (216, 2), (218, 1), (218, 2), (219, 1),
       (219, 2), (221, 1), (221, 2), (222, 1), (222, 2), (225, 1),
       (225, 2), (229, 1), (229, 2), (230, 1), (230, 2), (233, 1),
       (233, 2), (234, 1), (234, 2), (238, 1), (238, 2), (241, 1),
       (241, 2), (242, 1), (242, 2), (243, 1), (243, 2), (245, 1),
       (245, 2), (246, 1), (246, 2), (254, 1), (254, 2), (255, 1),
       (255, 2), (256, 1), (256, 2)], dtype=object)

In [54]:
for z, t in votos_zona.index.values:
    votos.query(f'zona == {z} & turno == {t}')/votos_zona.loc[z].loc[t]
    for i, v in (votos.loc[z] / votos_zona[z]).iterrows():
        votos_perc_zona.loc[z, i] = round(v[0] * 100, 2)
    for i, v in (votos.loc[z] / votos_candidato).iterrows():
        votos_perc_cand.loc[z, i] = round(v[0] * 100, 2)

KeyError: '[1] not in index'

In [40]:
votos = pd.concat([
    rj2.loc[:, ['zona', 'candidato', 'votos', 'turno']].set_index('zona'),
    rj.set_index('zona')
], sort=True)
votos_zona = np.sum(votos.groupby(['zona', 'turno']))['votos']
votos_candidato = np.sum(votos.groupby('candidato')).loc[:, 'votos']
votos = np.sum(votos.groupby(['zona', 'candidato', 'turno']))
votos_perc_zona = pd.DataFrame(columns=list(votos.index.levels[1]))
votos_perc_cand = pd.DataFrame(columns=list(votos.index.levels[1]))
for z, t in votos_zona.index.values:
    votos.query(f'zona == {z} & turno == {t}')/votos_zona.loc[z].loc[t]
    for i, v in (votos.loc[z] / votos_zona[z]).iterrows():
        votos_perc_zona.loc[z, i] = round(v[0] * 100, 2)
    for i, v in (votos.loc[z] / votos_candidato).iterrows():
        votos_perc_cand.loc[z, i] = round(v[0] * 100, 2)
votos_perc_cand.index.name = 'zona'
votos_perc_zona.index.name = 'zona'

d:\programdata\miniconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

KeyError: '[1] not in index'

In [ ]:
votos_perc_cand.to_csv(DATASET_DIR + 'eleicao_rj/votos_perc_cand.csv')
votos_perc_zona.to_csv(DATASET_DIR + 'eleicao_rj/votos_perc_zona.csv')

In [ ]:
!git status